@model FMInatorul.Models.Profesor

@{
    ViewData["Title"] = "Edit College";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Edit College</h2>

@if (Model != null && ViewBag.Facultati != null)
{
    @using (Html.BeginForm(controllerName: "Professors", actionName: "EditCollegeProf", method: FormMethod.Post,
  routeValues: new { id = Model.Id }))
    {
        @Html.DropDownListFor(m => m.FacultateID, new SelectList(ViewBag.Facultati, "Value", "Text"), "Selectati facultatea", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FacultateID, null, new { @class = "text-danger" })
        @Html.HiddenFor(m => m.MaterieId, new { Value = Model.MaterieId })
        @Html.HiddenFor(m => m.Materie, new { Value = Model.Materie })
        @Html.HiddenFor(m => m.CompletedProfile, new { Value = Model.CompletedProfile })
        @Html.HiddenFor(m => m.ApplicationUserId, new { Value = Model.ApplicationUserId })
        @Html.HiddenFor(m => m.ApplicationUser, new { Value = Model.ApplicationUser })

        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    }
}
else
{
    <p>Could not load the professor information.</p>
}