@model FMInatorul.Models.Profesor

@{
    ViewData["Title"] = "Editare Materie";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>Edit Materie</h2>

@using (Html.BeginForm(controllerName: "Professors", actionName: "EditMaterie", method: FormMethod.Post,
   routeValues: new { id = Model.Id }))
{
    <label>Selectati Materia</label>
   
    <br />
    @Html.DropDownListFor(m => m.MaterieId, new SelectList(Model.Materii, "Value", "Text"),"Selectati materia", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MaterieId, null, new { @class = "text-danger" })

    @Html.HiddenFor(m => m.CompletedProfile, new { Value = Model.CompletedProfile })
    @Html.HiddenFor(m => m.ApplicationUserId, new { Value = Model.ApplicationUserId })
    @Html.HiddenFor(m => m.ApplicationUser, new { Value = Model.ApplicationUser })
    
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
}
}
